body {
  text-align: center;
}

h1 {
  color: black;
  font-family: cursive;
  font-size: 0.6rem;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: dodgerblue;
}
